@import "./colors.scss";

/* USAGE SLIDER
<label class="pure-material-slider">
  <input type="range" min="0" max="100">
  <span>Slider</span>
</label>
*/
$pure-material-primary-rgb: $ui-color-primary;

$pure-material-safari-helper1: rgba(102,187,106, 0.04);
$pure-material-safari-helper2: rgba(102,187,106, 0.12);
$pure-material-safari-helper3: rgba(102,187,106, 0.16);
$pure-material-safari-helper4: rgba(102,187,106, 0.24);

.pure-material-slider {
	--pure-material-safari-helper1: $pure-material-safari-helper1;
	--pure-material-safari-helper2: $pure-material-safari-helper2;
	--pure-material-safari-helper3: $pure-material-safari-helper3;
	--pure-material-safari-helper4: $pure-material-safari-helper4;
	display: inline-block;
	width: 100%;
	color: rgba(0, 0, 0, 0.87);
	font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
	font-size: 16px;
	line-height: 1.5;
	>input {
		-webkit-appearance: none;
		position: relative;
		top: 24px;
		display: block;
		margin: 0 0 -36px;
		width: 100%;
		height: 36px;
		background-color: transparent;
		cursor: pointer;
		&:last-child {
			position: static;
			margin: 0;
		}
		&:focus {
			outline: none;
			&::-webkit-slider-thumb {
				box-shadow: 0 0 0 2px var(--pure-material-safari-helper2);
			}
			&::-moz-range-thumb {
				box-shadow: 0 0 0 2px $pure-material-safari-helper2;
			}
			&::-ms-thumb {
				box-shadow: 0 0 0 2px $pure-material-safari-helper2;
			}
		}
		&:disabled {
			cursor: default;
			opacity: 0.38;
			+ {
				span {
					color: rgba(0, 0, 0, 0.38);
				}
			}
			&::-webkit-slider-runnable-track {
				background-color: rgba(0, 0, 0, 0.38);
			}
			&::-webkit-slider-thumb {
				background-color: rgb(0, 0, 0);
				color: rgb(255, 255, 255);
				box-shadow: 0 0 0 1px rgb(255, 255, 255) !important;
				transform: scale(4, 4);
			}
			&::-moz-range-track {
				background-color: rgba(0, 0, 0, 0.38);
			}
			&::-moz-range-progress {
				background-color: rgba(0, 0, 0, 0.87);
			}
			&::-moz-range-thumb {
				background-color: rgb(0, 0, 0);
				box-shadow: 0 0 0 1px rgb(255, 255, 255) !important;
				transform: scale(4, 4);
			}
			&::-ms-fill-lower {
				background-color: rgba(0, 0, 0, 0.38);
			}
			&::-ms-fill-upper {
				background-color: rgba(0, 0, 0, 0.38);
				opacity: 0.38;
			}
			&::-ms-thumb {
				background-color: rgb(0, 0, 0);
				box-shadow: 0 0 0 1px rgb(255, 255, 255) !important;
				transform: scale(4, 4);
			}
		}
		&::-webkit-slider-runnable-track {
			margin: 17px 0;
			border-radius: 1px;
			width: 100%;
			height: 2px;
			background-color: rgba(102,187,106, 0.24);
		}
		&::-webkit-slider-thumb {
			appearance: none;
			-webkit-appearance: none;
			border: none;
			border-radius: 50%;
			height: 2px;
			width: 2px;
			background-color: $ui-color-primary;
			transform: scale(6, 6);
			transition: box-shadow 0.2s;
		}
		&:active {
			&::-webkit-slider-thumb {
				box-shadow: 0 0 0 2px var(--pure-material-safari-helper4) !important;
			}
			&::-moz-range-thumb {
				box-shadow: 0 0 0 2px rgba(102,187,106, 0.24) !important;
			}
			&::-ms-thumb {
				box-shadow: 0 0 0 2px rgba(102,187,106, 0.24) !important;
			}
		}
		&::-moz-range-track {
			margin: 17px 0;
			border-radius: 1px;
			width: 100%;
			height: 2px;
			background-color: rgba(102,187,106, 0.24);
		}
		&::-moz-range-thumb {
			appearance: none;
			-moz-appearance: none;
			border: none;
			border-radius: 50%;
			height: 2px;
			width: 2px;
			background-color: $ui-color-primary;
			transform: scale(6, 6);
			transition: box-shadow 0.2s;
		}
		&::-moz-range-progress {
			border-radius: 1px;
			height: 2px;
			background-color: $ui-color-primary;
		}
		&::-moz-focus-outer {
			border: none;
		}
		&::-ms-track {
			box-sizing: border-box;
			margin: 17px 0;
			border: none;
			border-radius: 1px;
			padding: 0 17px;
			width: 100%;
			height: 2px;
			background-color: transparent;
		}
		&::-ms-fill-lower {
			border-radius: 1px;
			height: 2px;
			background-color: $ui-color-primary;
		}
		&::-ms-fill-upper {
			border-radius: 1px;
			height: 2px;
			background-color: rgba(102,187,106, 0.24);
		}
		&::-ms-thumb {
			appearance: none;
			margin: 0 17px;
			border: none;
			border-radius: 50%;
			height: 2px;
			width: 2px;
			background-color: $ui-color-primary;
			transform: scale(6, 6);
			transition: box-shadow 0.2s;
		}
	}
	>span {
		display: inline-block;
		margin-bottom: 36px;
	}
	&:hover {
		>input {
			&::-webkit-slider-thumb {
				box-shadow: 0 0 0 2px var(--pure-material-safari-helper1);
			}
			&:focus {
				&::-webkit-slider-thumb {
					box-shadow: 0 0 0 2px var(--pure-material-safari-helper3);
				}
				&::-moz-range-thumb {
					box-shadow: 0 0 0 2px rgba(102,187,106, 0.16);
				}
				&::-ms-thumb {
					box-shadow: 0 0 0 2px rgba(102,187,106, 0.16);
				}
			}
			&:hover {
				&::-moz-range-thumb {
					box-shadow: 0 0 0 2px rgba(102,187,106, 0.04);
				}
			}
			&::-ms-thumb {
				box-shadow: 0 0 0 2px rgba(102,187,106, 0.04);
			}
		}
	}
}
